<!-- Exemplo em um arquivo .component.html -->
<button mat-raised-button color="primary">Meu Botão</button>
<mat-form-field>
  <input matInput placeholder="Minha Caixa de Entrada">
</mat-form-field>


<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todoObjects"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todoObjects" cdkDrag>
      <div class="container">
        <h4>{{item.title}}</h4><br>
        <div class="details">
          <h5>Dificuldade: {{item.difficulty}}</h5>
          <h5>Prazo: {{item.prazo}}</h5>
        </div>
        <p>{{item.description}}</p>
      </div>


    </div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="doneObjects"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of doneObjects" cdkDrag>
      <div class="container">
        <h4>{{item.title}}</h4><br>
        <div class="details">
          <h5>Dificuldade: {{item.difficulty}}</h5>
          <h5>Prazo: {{item.prazo}}</h5>
        </div>
        <p>{{item.description}}</p>
      </div>
</div>
