



<div style="padding-top: 10px; padding-left: 30px; padding-right: 30px;">
  <mat-card>
      <img height="50px" width="360px" style="padding-top:30px ;" src="../assets/img/toDoAdventureLogo.png">
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="openCreatNewMission()">NEW MISSION</button>
    </mat-card-actions>
</mat-card>
</div>


  <div style="display: flex; flex-direction: row; justify-content: space-evenly; padding-top: 50px;">

    <mat-card>
      <div class="example-container">
        <h2>To do</h2>

        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todoObjects"
          [cdkDropListConnectedTo]="[doneList, doneList2]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todoObjects" cdkDrag>
            <div class="container">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h4>{{item.title}}</h4><br>
                <div>
                  <button mat-icon-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                  </button> <button mat-icon-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                  </button>
                </div>
              </div>
              <div class="details">
                <h5>Dificuldade: {{item.difficulty}}</h5>
                <h5>Prazo: {{item.prazo}}</h5>
              </div>
              <p>{{item.description}}</p>
            </div>


          </div>
        </div>
      </div>

    </mat-card>

    <mat-card>
      <div class="example-container">
        <h2>Done</h2>

        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="doneObjects"
          [cdkDropListConnectedTo]="[todoList, doneList2]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of doneObjects" cdkDrag>
            <div class="container">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h4>{{item.title}}</h4><br>
                <div>
                  <button mat-icon-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                  </button> <button mat-icon-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                  </button>
                </div>
              </div>
              <div class="details">
                <h5>Dificuldade: {{item.difficulty}}</h5>
                <h5>Prazo: {{item.prazo}}</h5>
              </div>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>

    </mat-card>

    <mat-card>
      <div class="example-container">
        <h2>Done2</h2>

        <div
          cdkDropList
          #doneList2="cdkDropList"
          [cdkDropListData]="doneObjects2"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of doneObjects2" cdkDrag>
            <div class="container">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h4>{{item.title}}</h4><br>
                <div>
                  <button mat-icon-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                  </button> <button mat-icon-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                  </button>
                </div>
              </div>
              <div class="details">
                <h5>Dificuldade: {{item.difficulty}}</h5>
                <h5>Prazo: {{item.prazo}}</h5>
              </div>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>

    </mat-card>
  </div>








