<!-- Importa a fonte Aclonica do Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&display=swap">

<!-- Cabeçalho -->
<div class="header-container">
  <!-- Logo -->
  <img class="logo" height="100px" width="200px" src="../assets/img/toDoAdventureLogo.png">

  <!-- Informações do Usuário -->
  <div class="user-info">
    <!-- Ícone de Usuário -->
    <mat-icon class="user-icon">account_circle</mat-icon>

    <!-- Saudação -->
    <span class="greeting">Olá, usuário!</span>
  </div>
</div>

<!-- Contêiner de Cards -->
<div class="card-container">
  <div style="display: flex; flex-direction: row; justify-content: space-evenly; padding-top: 50px; padding-bottom: 50px;">
    <!-- Card de Tarefas Disponíveis -->
    <mat-card>
      <div class="example-container">
        <h2>Tarefas Disponíveis</h2>
        <div
          cdkDropList
          #disponiveis="cdkDropList"
          id="disponiveis"
          [cdkDropListData]="missoesDisponiveis"
          [cdkDropListConnectedTo]="[emAndamento, concluidas]"
          class="example-list"
          (cdkDropListDropped)="drop($event , 'disponiveis')">
          <div class="example-box" *ngFor="let item of missoesDisponiveis" cdkDrag [cdkDragData]="item">
            <div class="container">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h4>{{item.title}}</h4><br>
                <div>
                  <button mat-icon-button (click)="openDialogMission(item, false, 'tarefa')">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="openDialogMission(item, true)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                  </button>
                </div>
              </div>
              <div class="details">
                <h5>Dificuldade: {{item.difficulty}}</h5>
                <h5>Prazo: {{setDeadline(item.deadline)}}</h5>
                <h5>Tempo Corrido: {{item.runningTime}}</h5>
              </div>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- Card de Tarefas em Andamento -->
    <mat-card>
      <div class="example-container">

        <h2>Em Andamento</h2>

        <div *ngIf="mostrarCronometro">
          <div class="text-lg font-medium">
            <span>{{hr}} : </span>
            <span>{{min}} : </span>
            <span>{{sec}}</span>
          </div>
          <div class="w-full">
            <button mat-icon-button (click)="startCronometro()">
              <mat-icon>{{botaoCronometro}}</mat-icon>
            </button>
          </div>
        </div>

        <div
          cdkDropList
          #emAndamento="cdkDropList"
          id="emAndamento"
          [cdkDropListData]="missoesEmAndamento"
          [cdkDropListConnectedTo]="[concluidas, disponiveis]"
          class="example-list"
          (cdkDropListDropped)="drop($event, 'emAndamento')">
          <div class="example-box" *ngFor="let item of missoesEmAndamento" cdkDrag [cdkDragData]="item">
            <div class="container">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h4>{{item.title}}</h4><br>
                <div>
                  <button mat-icon-button (click)="openDialogMission(item, false, 'tarefa')">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="openDialogMission(item, true)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                  </button>
                </div>
              </div>
              <div class="details">
                <h5>Dificuldade: {{item.difficulty}}</h5>
                <h5>Prazo: {{setDeadline(item.deadline)}}</h5>
              </div>
              <p>{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- Card de Tarefas Concluídas -->
    <mat-card>
      <div class="example-container">
        <h2>Concluídas</h2>

        <div
          cdkDropList
          #concluidas="cdkDropList"
          id="concluidas"
          [cdkDropListData]="missoesConcluidas"
          [cdkDropListConnectedTo]="[emAndamento, disponiveis]"
          class="example-list"
          (cdkDropListDropped)="drop($event, 'concluidas')">
          <div class="example-box" *ngFor="let item of missoesConcluidas" cdkDrag [cdkDragData]="item">
            <div class="container" >
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <h4>{{item.title}}</h4><br>
                <div>
                  <button mat-icon-button (click)="openDialogMission(item, false, 'tarefa')">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="openDialogMission(item, true)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="details">
                  <h5>Dificuldade: {{item.difficulty}}</h5>
                  <h5>Prazo: {{setDeadline(item.deadline)}}</h5>
                  <h5>Tempo Corrido: {{item.runningTime}}</h5>
                </div>
                <p>{{item.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- Rodapé -->
  <div class="footer-container">
    <!-- Botão para Criar Tarefa -->
    <div class="create-task">
      <div class="circle">
        <!-- Ícone de Adição -->
        <button mat-icon-button (click)="openDialogMission(mission, false, 'tarefa')">
          <mat-icon class="plus-icon">create</mat-icon>
        </button>
      </div>
      <!-- Texto "Criar Tarefa" -->
      <span class="task-text">Criar Tarefa</span>
    </div>

    <!-- Botão para Criar Jornada do Herói -->
    <div class="create-task">
      <div class="circle">
        <!-- Ícone de Adição -->
        <button mat-icon-button (click)="openDialogMission(mission, false, 'jornada')">
          <mat-icon class="plus-icon">list</mat-icon>
        </button>
      </div>
      <!-- Texto "Jornada do Herói" -->
      <span class="task-text">Jornada do Herói</span>
    </div>
  </div>
