/* Estilos para o diálogo de confirmação */

/* Título do diálogo */
h2.mat-dialog-title {
  font-family: 'Aclonica', sans-serif;
  color: #2C7F7F; /* Cor do título */
}

/* Conteúdo do diálogo */
.mat-dialog-content {
  font-family: 'Aclonica', sans-serif;
  color: #2C7F7F; /* Cor do texto */
}

/* Estilos para os botões do diálogo */
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; /* Espaçamento superior */
}

button.mat-button {
  font-family: 'Aclonica', sans-serif;
  margin-left: 10px; /* Espaçamento entre os botões */
}

/* Estilo específico para o botão "Sim" */
button.mat-button[mat-dialog-close="true"] {
  background-color: #88F6C8; /* Cor de fundo do botão "Sim" */
  color: #2C7F7F; /* Cor do texto do botão "Sim" */
}
